h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5C80BC;
    color: white;
    cursor: pointer;
    width: 80px;
    margin: 0;
}

li button {
    margin: 0px;
    width: 60px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #3D3B30;
    padding: 12px;
    margin: 0;
}

li h2 {
    margin: 0;
    color: #53B3CB;
}

li p {
    margin: 8px 0;
}

li button {
    margin-right: 12px;
}

.form-container {
    background-color: #3D3B30;
}

.ul-container {
    background-color: #E9EDDE;
}

.li-container {
    background-color: #E9EDDE;
}